.home {
  &__title {
    height: 40px;
  }
  &__profile {
    align-items: center;
    display: flex;
    &-image {
      bottom: 0;
      transform: translateX(-50px);
      width: 500px;
    }
    &-info {
      margin-left: -150px;
      &-row {
        animation: fade-in-left 0.5s 0.5s forwards ease;
        font-size: 1.9rem;
        margin: 10px 0;
        opacity: 0;
        text-decoration: underline;
        text-shadow: 0 0 15px #ffffff;
        &:nth-child(2) {
          animation: fade-in-left 0.5s 0.75s forwards ease;
          margin-left: 20px;
        }
        &:nth-child(3) {
          animation: fade-in-left 0.5s 1s forwards ease;
          margin-left: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    &__profile {
      flex-wrap: wrap-reverse;
      &-image {
        bottom: 0;
        transform: translateX(-20%);
        width: 80%;
      }
      &-info {
        margin-bottom: -60px;
        margin-left: 20px;
        margin-top: 20px;
        width: 100%;
        &-row {
          font-size: 1.6rem;
          margin: 10px 0;
          &:nth-child(2) {
            margin-left: 20px;
          }
          &:nth-child(3) {
            margin-left: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    &__profile {
      flex-wrap: wrap-reverse;
      &-image {
        bottom: 0;
        transform: translateX(-20%);
        width: 100%;
      }
      &-info {
        margin-bottom: -20px;
        margin-left: 20px;
        width: 100%;
        &-row {
          font-size: 1.6rem;
          margin: 10px 0;
          &:nth-child(2) {
            margin-left: 20px;
          }
          &:nth-child(3) {
            margin-left: 40px;
          }
        }
      }
    }
  }
}
