.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
  -webkit-animation: fade-out 0.5s ease-in-out forwards;
}
